/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif; /* Set a default font-family */
  background-color: #f0f0f0; /* Set a background color */
}

/* Center the container vertically and horizontally */
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the container */
.container {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style the title */
.title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style the title2 */
.title2 {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* Style the input and button */
#api-url {
  width: 100%;
  /* padding: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#btn:hover {
  background-color: #0056b3;
}

/* Style the output container */
.output {
  margin-top: 20px;
  text-align: left;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  max-height: 240px; /* Limit the maximum height of the response box */
  overflow-y: auto; /* Add a vertical scrollbar if content exceeds the height */
}

/* Style the API response data */
.responseData {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style the response container */
#response-container {
  white-space: pre-wrap; /* Preserve line breaks in response text */
}
